@using TicketsApp.Domain
﻿@using Microsoft.Extensions.Options
@model TicketsApp.Domain.Dto.ShoppingCartDto
@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-light text-center mt-5">My Shopping Cart</h1>

<div class="container text-center">
    <table class="table table-borderless mt-5 custom-table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Date
            </th>
            <th>
                Price per Ticket
            </th>
            <th>
                Number of Tickets
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Tickets.Count(); i++)
        {
            var item = Model.Tickets[i];
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.Movie.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.Date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.Price)$
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="DeleteFromShoppingCart" asp-controller="ShoppingCarts" asp-route-id="@item.Ticket.Id" class="btn btn-danger w-75"><i class="bi bi-trash3-fill"></i> Remove from Cart</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="table-danger">
    <th><b>Total:</b></th>

    <th></th>
    <th></th>
    <th></th>

    <th><b>@Model.TotalPrice$</b></th>

    </tfoot>
</table>
</div>

<div class="container">
	@if (Model.TotalPrice != 0)
	{
		<form asp-controller="ShoppingCarts" asp-action="PayOrder" method="post" class="mt-5 text-end">
			<article>
				<script src="https://checkout.stripe.com/checkout.js"
						class="stripe-button"
						data-key="@Stripe.Value.PublishableKey"
						data-locale="auto"
						data-description="Ticket Application Payment"
						data-amount="@(Model.TotalPrice * 100)"
						data-label="Pay with Card">
				</script>
			</article>
		</form>
	}
</div>
