@using TicketsAppAdmin.Models
﻿@using Microsoft.Extensions.Options
@model TicketsAppAdmin.Models.OrderDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-light text-center mt-5">Order Details</h1>


<div class="container text-center">
    <table class="table table-borderless mt-5 custom-table">
        <thead>
            <tr>
                <th>
                    Movie
                </th>
                <th>
                    Date
                </th>
                <th>
                    Price per Ticket
                </th>
                <th>
                    Number of Tickets
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Tickets.Count(); i++)
            {
                var item = Model.Tickets[i];
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket.Movie.MovieName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
        <tfoot class="table-danger">
        <th><b>Total:</b></th>

        <th></th>
        <th></th>
        <th></th>

        <th><b>@Model.TotalPrice</b></th>

        </tfoot>
    </table>
</div>
