@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TicketsAppAdmin.Models.Order>

<h1 class="text-light text-center mt-5">Orders</h1>
<div class="container mt-5">
<div class="row"> 
    <a asp-controller="Order" asp-action="ExportAllOrders" class="btn btn-danger">Export Orders Excel</a> 
    <a asp-controller="Order" asp-action="ExportAllOrdersPDF" class="btn btn-secondary mt-3">Export Orders Pdf</a>
    </div>
</div>

<div class="container text-center">
        <table class="table table-borderless mt-5 custom-table">
            <thead>
                <tr>
                    <th>
                        Order id
                    </th>
                    <th>
                        Customer details
                    </th>
                    <th>
                        Number of products
                    </th>
                    <th>Total</th>
                    <th></th>                   
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model[i];
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            @item.Owner.Email
                        </td>

                        <td>
                            @(item.TicketsInOrder != null ? item.TicketsInOrder.Sum(t => t.Quantity) : 0)
                        </td>
                        <td>
                            @(item.TicketsInOrder != null ? item.TicketsInOrder.Sum(t => t.Quantity * t.Ticket.Price) : 0)
                        </td>
                        <td>  
                             <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">View Order</a> 
                            <a asp-action="CreateInvoice" asp-route-id="@item.Id" class="btn btn-warning">Create Invoice</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
</div>
