@using Microsoft.AspNetCore.Identity
@using TicketsApp.Domain.Identity
@inject SignInManager<TicketsAppUser> SignInManager
@model TicketsApp.Domain.Domain.Movie
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <div class="container"> 
        <div class="row" style="margin-top: 70px">
            <div class="col-md-5 text-center">
                <img src="@Model.MovieImage" alt="Movie Image" class="img-fluid img-details"/>
            </div>
            <div class="col-md-6 text-light info">
				<h2 class="fw-bold">@Html.DisplayFor(model => model.MovieName)</h2>
                <div class="mt-3">@Html.DisplayFor(model => model.Genres)</div>
                <div class="mt-3">@Html.DisplayFor(model => model.MovieDescription)</div>
                <div class="mt-3">@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</div>
			</div>
        </div>
    </div>
</div>
<div class="ticket-table">
    <h3 class="text-light text-center">Buy tickets for this movie</h3>
    <table class="table table-borderless">
        <thead >
            <tr>
                <th>
                    Date and Time
                </th>
                <th>
                    Price per Ticket
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Tickets.Count(); i++)
            {
                var item = Model.Tickets[i];
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)h
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)$
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Tickets"
                               asp-action="AddToCart"
                               asp-route-id="@item.Id"
                               class="btn btn-danger w-50">
                                <i class="bi bi-cart-fill"></i> Add to Cart
                            </a>
                        }
                        else
                        {
                            <a asp-area="Identity"
                               asp-page="/Account/Login"
                               class="btn btn-danger w-50">
                                <i class="bi bi-cart-fill"></i> Add to Cart
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
